* {
    margin: 0 auto;
    padding: 0;

}

body {
    background-image: url('../images/grey/grey_@2X.png');
    background-size: 



}

.section {
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 23px;
    padding: 17px;
    height: 65px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Name {
    background-color: #4aaaa5;
    width: fit-content;
    padding: 35px;
    font-size: 30px;
    margin-left: 267px;
    margin-top: -22px;
    display: inline-flex;
}

#Links {
    display: inline-flex;
    float: right;
    background-color: #ffffff;
    margin-right: 293px;
    margin-top: 27px;
    font-size: 13px;
}

.About {
    float: right;
    background: #ffffff;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Portfolio {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: right;

}

.Contact {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.clear {
    clear: both;
    background-color: #ffffff;
    color: #4aaaa5;
    padding: 20px 0px 20px 0px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.About-Me {
    width: 960px;
    padding: 50px;
}

img {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 15px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    padding: 20px;
    color: #777777;
}